@import 'reset-css';

body {
  background: #1a202c;
}

.container__content {
  background-color: #2d3748;
}

.compare__rightSide img,
.compare__leftSideContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.compare__iconContainer {
  width: 2px;
  background-image: linear-gradient(white, black);
}

.compare__icon {
  margin-top: calc(var(--compareContainerWidth) * 0.30);
}

.compare__icon img {
  width: var(--compareContainerWidth);
  pointer-events: none;
  user-select: none;
}
